# This is a Databricks asset bundle definition for {{.project_name}}.
# See https://docs.databricks.com/dev-tools/bundles/index.html for documentation.
bundle:
  name: {{.project_name}}

workspace:
  host: {{.custom_workspace_host}}
  artifact_path: {{.artifacts_dest_path}}/${workspace.current_user.short_name}

artifacts:
  default:
    type: jar
    build: sbt package && sbt assembly
    path: .
    files:
      - source: {{template `jar_path` .}}

resources:
  jobs:
    {{.project_name}}:
      name: {{.project_name}}
      tasks:
        - task_key: main_task
          {{- if .existing_cluster_id }}
          existing_cluster_id: {{.existing_cluster_id}}
          {{- else }}
          job_cluster_key: {{.project_name}}_job_cluster
          {{- end }}
          spark_jar_task:
            main_class_name: {{template `main_class_name` .}}
          libraries:
            - jar: {{template `jar_path` .}}
      {{- if not .existing_cluster_id }}
      job_clusters:
        - job_cluster_key: {{.project_name}}_job_cluster
          new_cluster:
            spark_version: {{template `dbr_version` .}}.x-scala{{template `scala_major_minor_version` .}}
            node_type_id: i3.xlarge  # Default instance type (can be changed)
            autoscale:
              max_workers: 2
              min_workers: 2
            {{- if eq .cluster_type "Standard" }}
            data_security_mode: USER_ISOLATION
            {{- end }}
      {{- end }}

targets:
  dev:
    mode: development
    default: true
    workspace:
      host: {{.custom_workspace_host}}
