resources:
  jobs:
    model_inference:
      name: model_inference
      queue:
        enabled: true

      parameters:
        - name: "catalog_name"
          default: "${var.catalog_name}"
        - name: "schema_name"
          default: "${resources.schemas.sentiment_schema.name}"    
        - name: "model_name"
          default: "${resources.registered_models.sentiment_model.name}"
        - name: "experiment_name"
          default: "${resources.experiments.experiment.name}"

      tasks:
        - task_key: model_inference
          notebook_task:
            notebook_path: "../notebooks/model_inference.ipynb"

      tags:
        Project: "${bundle.name}"

