scalaVersion := "{{template `scala_version` .}}"

name := "{{.project_name}}"
organization := "com.examples"
version := "{{template `version` .}}"

// If we are using 16.2, we will fetch it locally since as of 14-02-2025, we have not released scala client 16.2.0.
// Otherwise we will fetch it from remote maven repo.
resolvers += "Local Maven" at "file://" + new File("./local_dependencies").getAbsolutePath
libraryDependencies += "com.databricks" % "databricks-connect" % "{{template `dbr_version` .}}.+"

assembly / assemblyOption ~= { _.withIncludeScala(false) }
assembly / assemblyExcludedJars := {
  val cp = (assembly / fullClasspath).value
  cp filter { _.data.getName.matches("scala-.*") } // remove Scala libraries
}

assemblyMergeStrategy := {
  case _ => MergeStrategy.preferProject
}