scalaVersion := "2.13.16"

name := "{{.project_name}}"
organization := "com.examples"
version := "0.1"

libraryDependencies += "com.databricks" % "databricks-connect" % "16.1.+"

assembly / assemblyOption ~= { _.withIncludeScala(false) }
assembly / assemblyExcludedJars := {
  val cp = (assembly / fullClasspath).value
  cp filter { _.data.getName.matches("scala-.*") } // remove Scala libraries
}

assemblyMergeStrategy := {
  case _ => MergeStrategy.preferProject
}