scalaVersion := "{{template `scala_version` .}}"

name := "{{.project_name}}"
organization := "com.examples"
version := "{{template `version` .}}"

// This is only to fetch db connect 16.2 (unreleased) from local maven repo
resolvers += "Local Maven" at "file://" + new File("./local_dependencies").getAbsolutePath
libraryDependencies += "com.databricks" % "databricks-connect" % "{{template `dbr_version` .}}.+"

assembly / assemblyOption ~= { _.withIncludeScala(false) }
assembly / assemblyExcludedJars := {
  val cp = (assembly / fullClasspath).value
  cp filter { _.data.getName.matches("scala-.*") } // remove Scala libraries
}

assemblyMergeStrategy := {
  case _ => MergeStrategy.preferProject
}